@import url(http://fonts.googleapis.com/css?family=Noto+Serif&subset=latin,cyrillic-ext);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,400&subset=latin,cyrillic-ext);

*, 
*:before, 
*:after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

::-moz-selection {
    color: #fff;
    background: #57a3e8;
}

::selection {
    color: #fff;
    background: #57a3e8;
}

body{
    font-family: 'Noto Serif', serif;
    line-height: 1.5;
    font-size: 14px;
    color: #3A4145;
    padding-bottom: 115px;
    background: #f7fafb;
}

h1,
h2,
h3{
    font-family: 'Open Sans', sans-serif;
}

small{
    font-size: 65%;
    font-weight: 400;
    color: #9eabb3;
}

a{
    color: #57a3e8;
}

a:focus {
    outline: thin dotted;
}

.container{
    max-width: 700px;
    margin: auto;
    padding: 2rem 4rem;
}

.header{
    margin-bottom: 2em;
}

/* App Todo */

.tasks__json-store{
    color: #9eabb3;
        -webkit-animation: fadein 2s;
    -ms-animation: fadein 2s;
    animation: fadein 2s;
}

.tasks__list{
    list-style: none;
    margin: 1em 0;
}

.list__task{
    position: relative;
    padding: 15px 50px 15px 50px; 
    margin: 0 0 15px;
    border-radius: 3px;

    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    background-color: #FFF;
}

.list__task--true{
    text-decoration: line-through;
}

.list__task--true .task__check{
     background-position: -17px 0;
}

.task__check,
.task__remove{
    position: absolute;
    top: 18px;

    width: 16px;
    height: 16px;

    background: red;
    background: url('../img/sprite.svg');

    cursor: pointer;
}

.task__check{
    left: 15px;
    background-position: 0 0;
}
.task__remove{
    right: 15px;
    background-position: -34px 0;
}

.app-todo__form{
    position: fixed;
    z-index: 999;
    bottom: 0;
    right: 0;
    left: 0;

    background: #fff;
}
.form__input{
    width: 100%;
    padding: 15px;
    
    font-size: 14px;

    border: #ebf2f6 1px solid;
    border-radius: 3px;
}
.form__input:focus{
    outline: 0;
    border-color: #57a3e8;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(87,163,232,.6);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(87,163,232,.6);
}